/*
###############
- Debug
- Common
- Utilities
- MediaQuery
- Header
- Main
- Footer
###############
*/


/* #region Debug */


.debug div {
    border: 1px solid black;
}

/* #endregion Debug */


/* #region Common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --primary: #EC6C5B;
    --secondary: #4CC083;
    --light: #E2F3F0;
    --peach: #ffedd2;
    --red: #ffe4c9;
    --green: ;
    --purple: ;
}

img {
    width: 100%;
}

/* #endregion Common */


/* #region Utilities */

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.my_text_primary {
    color: var(--primary);
}

.my_pill {
    color: white !important;
    background-color: var(--secondary) !important;
    border-radius: 30px !important;
}

/* #endregion Utilities */


/* #region MediaQuery */

/* #region Desktops & Large screens */
@media screen and (max-width: 1200px) {
    /* Desktops & Large screens */
}

/* #endregion Desktops & Large screens */

/* #region Small screens & Laptops */
@media screen and (max-width: 1024px) {
    /* Small screens & Laptops */
}

/* #endregion Small screens & Laptops */

/* #region iPads & Tablets */
@media screen and (max-width: 768px) {
    /* iPads & Tablets */
}

/* #endregion iPads & Tablets */

/* #region Mobile */
@media screen and (max-width: 480px) {
    /* Mobile */
}

/* #endregion Mobile */

/* #endregion MediaQuery */


/* #region Header */

.head_banner {
    background-color: var(--primary);
}

/* #endregion Header */


/* #region Main */
#learn_something {

    .my_billboard_bg {
        background: url('../img/billboard-bg.png');

        .my_btn {
            position: absolute;
            top: -4px;
            left: 85%;

            .my_search {
                background-color: var(--secondary);
                padding: 0.5em 0.8em;
                border-radius: 10px;
            }
        }
    }

    .card {
        box-shadow: -1px 1px 14px 6px rgba(0, 0, 0, 0.31);

        h3 {
            color: var(--primary);
        }
    }
}

#about_us {
    img {
        border-radius: 50%;
    }

    span {
        color: var(--primary);
    }
}

/* #endregion Main */


/* #region Footer */

/* #endregion Footer */