/*
###############
- Debug
- Common
- Utilities
- MediaQuery
- Header
- Main
- Footer
###############
*/


/* #region Debug */


.debug div {
    border: 1px solid black;
}

/* #endregion Debug */


/* #region Common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* body {
    max-width: 100vw;
} */

:root {
    --primary: #EC6C5B;
    --secondary: #4CC083;
    --light: #E2F3F0;
    --peach: #ffedd2;
    --red: #facab7b7;
    --green: rgba(91, 212, 182, 0.377);
    --purple: rgba(190, 151, 253, 0.5);
}

img {
    width: 100%;
}

h1 {
    font-size: 50px !important;
}

/* #endregion Common */


/* #region Utilities */

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.my_text_primary {
    color: var(--primary);
}

.my_text_secondary {
    color: var(--secondary);
}

.my_pill {
    color: white !important;
    background-color: var(--secondary) !important;
    border-radius: 30px !important;
}

.bg_1 {
    background-color: var(--green) !important;
}

.bg_2 {
    background-color: var(--peach) !important;
}

.bg_3 {
    background-color: var(--red) !important;
}

.bg_4 {
    background-color: var(--purple) !important;
}

.my_container {
    width: 80%;
    margin: 0 auto;
}

.big {
    font-size: 35px;
}

/* #endregion Utilities */


/* #region MediaQuery */

/* #region Desktops & Large screens */
@media screen and (min-width: 1200px) {

    /* Desktops & Large screens */

    header {
        .my_try {
            flex-wrap: nowrap;

            .my_1 {
                width: calc((100% / 12) * 4) !important;

                img {
                    width: 33%;
                }
            }

            .my_2 {
                width: calc((100% / 12) * 4) !important;
                display: flex;
                justify-content: center;

                ul {
                    margin: 0 !important;
                }
            }

            .my_3 {
                width: calc((100% / 12) * 4) !important;
                display: flex;
                justify-content: end;
            }
        }
    }

    .my_billboard_bg {
        margin-bottom: -150px;
    }

    .big {
        font-size: 50px;
    }

    #learn_something {
        input {
            width: 92%;
        }
    }

    footer {
        img {
            width: 50%;
        }
    }
}

/* #endregion Desktops & Large screens */

/* #region Small screens & Laptops */
@media screen and (max-width: 1024px) {
    /* Small screens & Laptops */
}

/* #endregion Small screens & Laptops */

/* #region iPads & Tablets */
@media screen and (max-width: 768px) {
    /* iPads & Tablets */
}

/* #endregion iPads & Tablets */

/* #region Mobile */
@media screen and (max-width: 480px) {
    /* Mobile */
}

/* #endregion Mobile */

/* #endregion MediaQuery */


/* #region Header */

.head_banner {
    background-color: var(--primary);
}

header {
    .my_try {
        flex-wrap: wrap;
        justify-content: space-between;

        .my_1 {
            width: 50%;
        }

        .my_2 {
            width: 20%;
            align-self: center;
        }

        .my_3 {
            width: 100%;
        }
    }
}

/* #endregion Header */


/* #region Main */
#learn_something {

    .my_billboard_bg {
        background: url('../img/billboard-bg.png');

        .my_btn {
            position: absolute;
            top: -5px;
            left: 86%;

            .my_search {
                background-color: var(--secondary);
                padding: 0.5em 0.8em;
                border-radius: 10px;
            }
        }
    }

    .card {
        box-shadow: -1px 1px 14px 6px rgba(0, 0, 0, 0.31);

        h3 {
            color: var(--primary);
        }
    }
}

#about_us {
    img {
        border-radius: 50%;
    }

    span {
        color: var(--primary);
    }
}

#explore {
    img {
        border-radius: 1.5rem !important;
    }
}

#teachers {
    img {
        border-radius: 1.5rem !important;
    }
}

#register {
    background: url(../img/billboard-bg.png);
}

/* #endregion Main */


/* #region Footer */

/* #endregion Footer */